@media only screen and (max-width: 2500px) {

  .header-titel {
    text-shadow: 4px 4px 0 var(--shadow-color-title, #ff0070);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 278px;
  }

  .subtitle {
    display: grid;
    margin-block-start: 114px;
    margin-block-end: 174px;
    justify-content: end;
    grid-template-columns: 50%;
  }

  .bloc-why {
    display: grid;
    grid-template-columns: 29% 66%;
    justify-content: space-between;
  }
  
  .bloc-what {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    gap: 20px;
  }

  .heading-what {
    display: grid;
    grid-template-columns: 32%;
    margin-block-start: 82px;
    margin-block-end: 20px;
  }

  .bloc-how {
    margin-block-start: 80px;
    margin-block-end: 80px;
    display: grid;
    grid-template-columns: 31% 66%;
    justify-content: space-between;
  }

  .bloc-how .title-decor:first-child {
    margin-block-end: 20px;
  }

  .img-grid {
    margin-block-start: 16px;
  }

}

@media only screen and (max-width: 768px) {

  .header-titel {
    text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
    margin-top: 173px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu-list {
    margin: 172px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .subtitle {
    margin-block-start: 162px;
    margin-block-end: 223px;
    grid-template-columns: 50%;
  }

  .bloc-what {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .header:after {
    margin-block-end: 80px;
  }

}
@media only screen and (max-width: 375px) {

  .header__theme-menu-list {
    margin: 0;
  }

  .header {
    margin: 75px 10px 0 10px;
  }

  .header-titel {
    font-size: 116px;
  }
  
  .subtitle {
    margin-block-start: 55px;
    margin-inline-start: 0;
  }

  .content-section {
    margin: 0 10px;
  }


}
