@media only screen and (max-width: 2500px) {
  .header-titel {
    text-shadow: 4px 4px 0 var(--shadow-color-title, #ff0070);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 278px;
  }

  header {
    height: 100vh;
  }
  .subtitle {
    display: grid;
    margin-block-start: 110px;
    justify-content: end;
    grid-template-columns: 50%;
  }

  .bloc-why {
    display: grid;
    margin-block-start: 57px;
    grid-template-columns: 29% 66%;
    justify-content: space-between;
  }
  
  .bloc-what {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    gap: 20px;
  }

  .heading-what {
    display: grid;
    grid-template-columns: 32%;
    margin-block-start: 82px;
    margin-block-end: 20px;
  }

  .bloc-how {
    margin-block-start: 80px;
    margin-block-end: 80px;
    display: grid;
    grid-template-columns: 31% 66%;
    justify-content: space-between;
  }

  .bloc-how .title-decor:first-child {
    margin-block-end: 20px;
  }

  .img-grid {
    margin-block-start: 16px;
  }

}

@media only screen and (max-width: 768px) {
  .header-titel {
    text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
    margin-top: 180px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu-list {
    margin: 174px 0 0;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .rec {
    top: 21px;
    right: 18px;
  }

  header {
    height: 1024px;
  }
  
  .subtitle {
    margin-block-start: 130px;
    grid-template-columns: 50%;
  }

  .bloc-why {
    margin-block-start: 60px;
    display: grid;
    grid-template-columns: 29% 65%;
    justify-content: space-between;
  }
  
  .bloc-what {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bloc-how {
    display: grid;
    grid-template-columns: 32% 65%;
    justify-content: space-between;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .focus-footer-text {
    font-size: clamp(7.5rem, 7.5rem + 0vw, 7.5rem);
  }

}
@media only screen and (max-width: 375px) {

  .header__theme-menu-list {
    margin-block-start: 65px;
    gap: 13px;
  }

  .header:before {
    top: 10px;
    right: 10px;
  }
  
  .header:after {
    left: 10px;
    bottom: 10px;
  }

  .header {
    padding: 10px;
    height: 668px;
  }

  .header-titel {
    text-align: left;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 0;
    margin-top: 65px;
  }
  .rec {
    top: 12px;
    right: 8px;
  }
  .subtitle {
    margin-block-start: 122px;
    display: grid;
    grid-template-columns: 100%;
  }

  .content-section {
    margin: 10px;
  }
  
  .bloc-why {
    display: grid;
    grid-template-columns: 100%;
    margin-block-start: 41px;
    gap: 20px;
  }
  
  .bloc-what {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }
  .heading-what {
    display: grid;
    grid-template-columns: 100%;
    margin-block-start: 50px;
  }

  .bloc-how {
    display: flex;
    flex-direction: column;
    margin-block-start: 50px;
    margin-block-end: 50px;
    gap: 20px;
  }

  .img-grid {
    object-fit: cover;
    margin-block-start: 10px;
    margin-block-end: 40px;
    gap: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "sunset"
      "ice_cream"
      "tape"
      "books"
      "street";
  }
  
  .sunset {
    grid-area: sunset;
  }
  
  .ice_cream {
    grid-area: ice_cream;
  }
  
  .tape {
    grid-area: tape;
  }
  
  .street {
    grid-area: street;
  }
  
  .books {
    grid-area: books;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 667px;
  }

  .focus-footer:before {
    right: 10px;
    top: 10px;
  }
  
  .focus-footer:after {
    bottom: 10px;
    left: 10px;
  }
  
  .focus-footer-text {
    font-size: clamp(7.25rem, NaNrem + NaNvw, 7.25rem);
  }
}
