/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  --ferst-title: #DB00FF;
  --bg-color: #000028;
  --main-text-color: #F1B2CE;
  --title-color-dark:#000028;
  --accent-color: #FF0070;
  --accent-font: 'IBM Plex Mono';
  --dark-tl: #FF0070;
  --border-bt: #FF0070;
}