/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--main-text-color, #353430);
  font-family: var(--main-font);
  background-color: var(--bg-color, #fff1f7);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 18px;
  color: var(--rec);
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 66px;
}

.header:before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--dark-tl);
  border-right: 1px solid var(--dark-tl);
  position: absolute;
  top: 20px;
  right: 20px;
}

.header:after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--dark-tl);
  border-left: 1px solid var(--dark-tl);
  position: absolute;
  bottom: 80px;
  left: 20px;
}

.rec-dot {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rec-dot::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--rec);
  filter: drop-shadow(0px 0px 4px var(--rec));
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  gap: 10px;
}

a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  white-space: nowrap;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--accent-color);
  padding: 0 13px;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  font-family: var(--accent-font);
  color: var(--dark-tl);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 0 13px;
  border: none;
}

button:focus {
  outline: none;
}

button:focus-visible {
  text-decoration: underline;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  outline: 1px solid var(--dark-tl);
  padding: 0 13px;
}

header {
  position: relative;
  padding: 20px;
  height: 100vh;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-bt);
}

.heading {
  font-family: var(--accent-font);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  font-size: 18px;
  color: var(--title-color-dark);
}

.dark-tl {
  color: var(--dark-tl);
}

.content-section .non-bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.content-section {
  max-width: 984px;
  margin: 0 20px;
}

.header-titel {
  display: flex;
  font-family: var(--accent-font);
  height: 130px;
  font-weight: 700;
  line-height: 82.5%;
  text-align: left;
  color: var(--ferst-title, #ffc2e6);
  text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
  margin-left: -20px;
}

.title-decor {
  background-color: var(--accent-color, #ff8dcb);
}

.content-section .title-decor {
  margin-block-end: 10px;
}

.content-paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-family: var(--accent-font);
}

.content-text-block {
  font-size: 18px;
  font-family: var(--accent-font);
}

.content-section .content-text-block:not(:last-of-type) {
  margin-block-end: 20px;
}

.grid-bloc {
  display: grid;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-grid {
  object-fit: cover;
  margin-block-end: 60px;
  gap: 25px;
  display: grid;
  grid-template-areas:
    "sunset sunset ice_cream"
    "tape books ice_cream"
    "tape street street";
}

.sunset {
  grid-area: sunset;
}

.ice_cream {
  grid-area: ice_cream;
}

.tape {
  grid-area: tape;
}

.street {
  grid-area: street;
}

.books {
  grid-area: books;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font);
  position: relative;
  height: 100vh;
}

.focus-footer-text {
  font-weight: 700;
  line-height: 82.5%;
  color: var(--ferst-title, #ffc2e6);
  text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
  font-size: clamp(7.25rem, 5.7506rem + 6.3467vw, 9.8125rem);
}

.focus-footer:before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--dark-tl);
  border-right: 1px solid var(--dark-tl);
  position: absolute;
  right: 20px;
  top: 20px;
}

.focus-footer:after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--dark-tl);
  border-left: 1px solid var(--dark-tl);
  position: absolute;
  bottom: 20px;
  left: 20px;
}
